@import '../core';
@import '../style';
@import '../guest/header-nav';
@import '../icon/lucide';
@import '../nav-link';
@import '../nav-tabs';
@import '../footer';
@import '../input/checkbox';


.user-menu,
.dropdown {
    @extend %rm-dropdown-triangle;
}

div:has(>#chartProgress) {
    width: 20vw;
    height: 20vw;
    min-width: 200px;
    min-height: 250px;
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: 3/2;
}