@mixin custom-checkbox($default-color, $checked-color) {
    &.checkbox {
        position: relative;
        appearance: none;
    }

    &input[type="checkbox"].checkbox {
        opacity: 0;
        width: clamp(1.5em, 0.75em + 1vw, 5vw);
        height: clamp(1.5em, 0.75em + 1vw, 5vw);
        margin: 5px 0 0 3px;
        // z-index: 9;
    }

    &.checkbox~label.checkbox-label::before {
        width: clamp(1em, 0.5em + 0.75vw, 1.5vw);
        height: clamp(1em, 0.5em + 0.75vw, 1.5vw);
    }

    &.checkbox~label.checkbox-label::before {
        content: '';
        position: absolute;
        inset: 0;
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        background: white;
        border: 2px solid #bbb;
        border-radius: 6px;
        box-sizing: border-box;
        z-index: 2;
        // color: var(--main-color);
    }

    &.checkbox:checked~label.checkbox-label {

        &::before {
            background-color: var(--bs-primary);
            border: 2px solid var(--bs-primary);
        }

        &::after {
            content: '\2713';
            inset: 0;
            left: calc(0.27rem + 0.05vw);
            position: absolute;
            color: var(--bs-white);
            font-weight: bold;
            // right: 25px;
            // top: 22px;
            // right: calc(1.5rem + 0.1dvw);
            // top: calc(0.8rem + 0.35dvw);
            // transform: rotate(45deg);
            // width: clamp(0.313rem, 0.150rem + 0.20vw, 2vw);
            // height: clamp(0.573rem, 0.350rem + 0.15vw, 2vw);
            // border: solid #000;
            // border-width: 0 calc(0.188rem + 0.0001vw + 0.0001vh) calc(0.188rem + 0.0001vw + 0.0001vh) 0;
            z-index: 3;



            @media (min-width: 4000px) {
                // height: clamp(1.146rem, 0.700rem + 0.15vw, 2vw);
                // transform: rotateZ(45deg) translateY(180%) translateX(-150%);
                // border-width: 0 calc(0.313rem + 0.001vw + 0.01vh) calc(0.313rem + 0.001vw + 0.01vh) 0;
            }
        }
    }
}