:root {
    --search-padding-y: clamp(0.25rem, 0.1rem + 0.15vw + 0.2vh, 5rem);
    --l-search-height: clamp(1.2rem, 1rem + 1vw + 1.5vh, 5rem);
    --search-height: clamp(1.2rem, 0.9rem + 0.5vw + 1vh, 4rem);
}

%base-search-group-style {
    border: none;
    padding: var(--search-padding-y) clamp(1.5rem, 1rem + 0.75vw + 0.5vh, 10rem);
    height: var(--search-height);
    color: inherit;
}

%base-search-group-with-icon-style {
    --padding-for-icon: clamp(1.5rem, 1.75rem + 0.75vw + 0.5vh, 10rem);
    position: relative;

    &:has(.icon.overlap.left) input[type="search"],
    &:has(.icon.overlap.left) input.search {
        padding-left: var(--padding-for-icon);
    }

    &:has(.icon.overlap.right) input[type="search"],
    &:has(.icon.overlap.right) input.search {
        padding-right: var(--padding-for-icon);
    }

    &>:not(input[type="search"], input.search) {
        // background-color: initial;
        // border: none;

        &.input-group-text {
            background-color: transparent;
            // border: none;

            &.icon.overlap {
                position: absolute;

                &.left {
                    padding-right: 0;
                }

                &.right {

                    right: clamp(0.01rem, 0.25vw + 0.15vh, 10rem);
                    top: 0;
                    bottom: 0;
                    padding-left: 0;
                }
            }
        }
    }
}

input[type="search"],
input.search {


    @extend %base-search-group-style;

}


.input-group {
    @extend %base-search-group-with-icon-style;
}

input[type="search"]::-ms-input-placeholder {
    color: inherit;
}

input[type="search"]::-moz-placeholder {
    color: inherit;
}

input[type="search"]::placeholder {
    color: inherit;
}

input[type="search"]::placeholder-show {
    color: inherit;
}

input[type="search"]::-webkit-input-placeholder {
    color: inherit;
}

input[type="search"]::-webkit-search-cancel-button {
    --clear-btn-padding-y: calc(0.1rem + 0.125vw);
    padding-right: calc(0.5rem + 0.25vw);
    padding-top: var(--clear-btn-padding-y);
}