:root {
    --base-font-size: clamp(0.75rem, 0.453rem + 0.375vw, 2.75rem);
    /* 14.5 */
    // clamp(0.75rem, 0.488rem + 0.375vw, 2.75rem) /* 15 */
}

$font-sizes: (
    1: clamp(1.75rem, 1.4rem + 0.525vw + 0.15vh, 4.25rem),
    /* 34 */

    // clamp(1.5rem, 1.5rem + 0.375vw + 0.1vh, 3.75rem)
    2: clamp(1.25rem, 1rem + 0.5vw + 0.1vh, 3.5rem),
    // 
    /* 26 */

    3: clamp(1rem, 0.9rem + 0.45vw + 0.1vh, 3.25rem),
    /* 24 */

    4:clamp(0.9rem, 0.75rem + 0.4vw, 3rem),
    // 
    /* 20 */

    5: clamp(0.8rem, 0.55rem + 0.375vw, 2.75rem),
    // 
    /* 16 */

    6: var(--base-font-size),
);

$font-display-sizes: (
    1: clamp(4.9rem, 4.5rem + 0.002vw + 0.81vh, 6.25rem),
    2: clamp(4.4rem, 4rem + 0.002vw + 0.81vh, 5.75rem),
    3: clamp(3.9rem, 3.5rem + 0.002vw + 0.81vh, 4.25rem),
    4: clamp(3.4rem, 3rem + 0.002vw + 0.81vh, 3.75rem),
    5: clamp(2.9rem, 2.5rem + 0.002vw + 0.81vh, 3.25rem),
    6: clamp(2.4rem, 2rem + 0.002vw + 0.81vh, 2.75rem),
);

body {
    @each $size, $value in $font-sizes {

        h#{$size} {
            font-size: $value;
        }

        .h#{$size},
        .fs-#{$size} {
            font-size: $value !important;
        }

        .h#{$size} {
            text-wrap: balance;
        }
    }

    @each $size, $value in $font-display-sizes {

        .display-#{$size} {
            font-size: $value !important;
        }
    }

    .btn,
    .table,
    .toast {
        font-size: var(--base-font-size);
    }

}