:root {
    --base-font-size: clamp(1rem, 0.50rem + 0.005vw + 0.88vh, 2.75rem);
}

$font-sizes: (
    1: clamp(2.5rem, 2rem + 0.005vw + 0.90vh, 2rem),
    2: clamp(2rem, 1.5rem + 0.003vw + 0.90vh, 2rem),
    3: clamp(1.75rem, 1.25rem + 0.003vw + 0.90vh, 2rem),
    4: clamp(1.5rem, 1rem + 0.003vw + 0.90vh, 2rem),
    5: clamp(1.25rem, 0.75rem + 0.005vw + 0.90vh, 2rem),
    6: var(--base-font-size),
);

$font-display-sizes: (
    1: clamp(4.9rem, 4.5rem + 0.002vw + 0.81vh, 6.25rem),
    2: clamp(4.4rem, 4rem + 0.002vw + 0.81vh, 5.75rem),
    3: clamp(3.9rem, 3.5rem + 0.002vw + 0.81vh, 4.25rem),
    4: clamp(3.4rem, 3rem + 0.002vw + 0.81vh, 3.75rem),
    5: clamp(2.9rem, 2.5rem + 0.002vw + 0.81vh, 3.25rem),
    6: clamp(2.4rem, 2rem + 0.002vw + 0.81vh, 2.75rem),
);

body {
    @each $size, $value in $font-sizes {

        h#{$size} {
            font-size: $value;
        }

        .h#{$size},
        .fs-#{$size} {
            font-size: $value !important;
        }
    }

    @each $size, $value in $font-display-sizes {

        .display-#{$size} {
            font-size: $value !important;
        }
    }

    .btn,
    .table,
    .toast {
        font-size: var(--base-font-size);
    }

}