header {
    --v-offset: clamp(1rem, 0.5rem + 0.5vw + 0.75vh, 5rem);
    transition: background-color 0.5s ease;
    // animation: bgSwipeDown 0.75s ease forwards;

    nav {
        padding: var(--v-offset) clamp(2rem, 1rem + 6vw, 10rem);
        color: var(--main-white);

        div,
        section {
            &:has(.nav-link):not(.home) {
                gap: 0 calc(1.5rem + 3.6vw);

            }
        }

        .nav-link,
        button {
            @extend %nav-link;

            &.active {
                font-weight: 900;
                -webkit-text-stroke: 0.1px var(--bs-white);
                text-stroke: 0.1px var(--bs-white);
            }
        }
    }
}