@import 'font/font-size';

$prefix: bs-;

:root {
    --main-green: #61b000;
    --main-green-transparent: rgba(97, 176, 0, 0.5);
    --main-lime: #EEEE13;
    --main-white: #fff;
    --main-muted-gray: #f6f6f6;
    --main-container-px: clamp(1.25rem, 5dvw, 30dvw);
}

// bootstrap variable location is in file://./../../node_modules/bootstrap/scss/_variables.scss
// custom style variables LIGHT
$primary: #61b000;
$secondary: #d9d9d9;
$success: #61b000;
$info: #006390;
$warning: #FD7E14;
$danger: #f50000;
// $light:         $gray-100 ;
// $dark:          $gray-900 ;

// $success-bg-subtle: #f0f8e6;
// $info-bg-subtle: #e8f6fc;
// $warning-bg-subtle: #fee6e6;
// $danger-bg-subtle: tint-color(#f50000, 80%);

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "black": $black,
    "white": $white,
    "gray": #939393,
    "gray-dark": #404040
);

$border-width: calc(1px + 0.06dvw);

$headings-color: #222222;

$body-emphasis-color: #61b000;



$font-family-sans-serif: 'Figtree', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;


// $btn-color: #f5f5f5;
// $btn-padding-y:               $input-btn-padding-y !default;
// $btn-padding-x:               $input-btn-padding-x !default;
// $btn-font-family:             $input-btn-font-family !default;
// $btn-font-size:               $input-btn-font-size !default;
// $btn-line-height:             $input-btn-line-height !default;
// $btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping

$btn-font-weight: 700;

// $btn-padding-y-sm:            $input-btn-padding-y-sm !default;
// $btn-padding-x-sm:            $input-btn-padding-x-sm !default;
// $btn-font-size-sm:            $input-btn-font-size-sm !default;

// $btn-padding-y-lg:            $input-btn-padding-y-lg !default;
// $btn-padding-x-lg:            $input-btn-padding-x-lg !default;
// $btn-font-size-lg:            $input-btn-font-size-lg !default;

// $btn-border-width:            $input-btn-border-width !default;

// $btn-focus-width:             $input-btn-focus-width !default;
// $btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;

// $btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

// $input-focus-bg:                        $input-bg !default;
// $input-focus-border-color:              tint-color($component-active-bg, 50%) !default;
// $input-focus-color:                     $input-color !default;
// $input-focus-width:                     $input-btn-focus-width !default;
// $input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

// $form-check-input-width:                  1em !default;
// $form-check-min-height:                   $font-size-base * $line-height-base !default;
// $form-check-padding-start:                $form-check-input-width + .5em !default;
// $form-check-margin-bottom:                .125rem !default;
// $form-check-label-color:                  null !default;
// $form-check-label-cursor:                 null !default;
// $form-check-transition:                   null !default;

// $form-check-input-active-filter:          brightness(90%) !default;

// $form-check-input-bg:                     $input-bg !default;
// $form-check-input-border:                 var(--#{$prefix}border-width) solid var(--#{$prefix}border-color) !default;
// $form-check-input-border-radius:          .25em !default;
// $form-check-radio-border-radius:          50% !default;
// $form-check-input-focus-border:           $input-focus-border-color !default;
// $form-check-input-focus-box-shadow:       $focus-ring-box-shadow !default;

// $form-check-input-checked-color:          $component-active-color !default;
// $form-check-input-checked-bg-color:       $component-active-bg !default;
// $form-check-input-checked-border-color:   $form-check-input-checked-bg-color !default;

// $form-check-input-indeterminate-color:          $component-active-color !default;
// $form-check-input-indeterminate-bg-color:       $component-active-bg !default;
// $form-check-input-indeterminate-border-color:   $form-check-input-indeterminate-bg-color !default;

// $form-switch-color:               rgba($black, .25) !default;
// $form-switch-width:               2em !default;
// $form-switch-padding-start:       $form-switch-width + .5em !default;
// $form-switch-bg-image:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color}'/></svg>") !default;
// $form-switch-border-radius:       $form-switch-width !default;
// $form-switch-transition:          background-position .15s ease-in-out !default;

// $form-switch-focus-color:         $input-focus-border-color !default;
// $form-switch-focus-bg-image:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color}'/></svg>") !default;

// $form-switch-checked-color:       $component-active-color !default;
// $form-switch-checked-bg-image:    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-checked-color}'/></svg>") !default;
// $form-switch-checked-bg-position: right center !default;

// Body
//
// Settings for the `<body>` element.

// $body-text-align:           null !default;
// $body-color:                $gray-900 !default;
// $body-bg: #f5f5f5;

// $body-secondary-color:      rgba($body-color, .75) !default;
$body-secondary-bg: #f6f6f6;

// $body-tertiary-color:       rgba($body-color, .5) !default;
$body-tertiary-bg: #fafafa;

// $breadcrumb-padding-y:              0 ;
$breadcrumb-padding-x: calc(0.5rem + 1vw);
$breadcrumb-item-padding-x: calc(0.5rem + 1vw);
$breadcrumb-active-color: var(--bs-primary);

$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/></svg>");

// $breadcrumb-divider: quote("<i data-lucide=" badge-check"></i>");

// $body-emphasis-color:       $black !default;

$mark-padding: none;

$table-color: var(--bs-body-color);

$table-hover-color: #f5f5f5;
$table-hover-bg: $primary;

$nav-link-padding-y: .5em;
$nav-link-padding-x: 1em;

$enable-negative-margins: true;
$enable-important-utilities: false;

// custom style variables DARK todo
// dark variable location is in file://./../../node_modules/bootstrap/scss/_variables-dark.scss
$headings-color-dark: var(--bs-body-color);

// $body-color-dark:                   $gray-300 !default;
// $body-bg-dark: $gray-900 !default;
// $body-secondary-color-dark:         rgba($body-color-dark, .75) !default;
$body-secondary-bg-dark: $gray-700 ;
// $body-tertiary-color-dark:          rgba($body-color-dark, .5) !default;
$body-tertiary-bg-dark: mix($gray-500, $gray-900, 50%);

@import '../../node_modules/bootstrap/scss/bootstrap';

*,
*::before,
*::after {
    box-sizing: border-box;
    letter-spacing: calc(0.01rem + 0.025vw);
}


html {
    @include min-height(100);
    @include max-width(100);

}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    @include min-height(100);
    @include max-width(100);
    overflow-y: auto;
    overflow-x: clip;
    font-size: var(--base-font-size);

}

a.unstyled {
    color: var(--bs-body-color);
    text-decoration: unset;
}

.btn-primary {
    color: #f5f5f5;
}

.btn-outline-primary {
    --bs-btn-hover-color: #fff;
}


button {
    min-width: fit-content;
}

.form-control {
    padding-top: calc(0.2rem + 0.3vw);
    padding-bottom: calc(0.2rem + 0.2vw);
    font-size: .8rem !important;
}


.no-drag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.underline-padded {
    padding-bottom: 3px;
    border-bottom: 3px solid var(--main-green);
    display: inline-block;
}

.border-dashed {
    padding: .5rem;
    border: 2px dashed var(--main-green);
    color: var(--main-green);
}

.border-dashed:hover {
    border-color: var(--main-green-transparent) !important;
    color: var(--main-green-transparent) !important;
}

.no-hover-border {
    border: none;
    outline: none;
    box-shadow: none;
}

.no-hover-border:hover,
.no-hover-border:active {
    border: none;
}

.list-group-item.drag-over {
    border: 2px solid var(--main-green) !important;
    background-color: transparent;
}

.list-group-item+.list-group-item {
    border-top-width: 2px;
}

.green-divider {
    height: 2px;
    background-color: var(--main-green);
}

.hidden-until-load {
    opacity: 0;
}

.border-bottom {
    border: none !important;
    border-bottom: 2px solid var(--bs-secondary) !important;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
        border-bottom: 2px solid var(--bs-primary) !important;
        box-shadow: none !important;
        outline: none;
    }

    &.is-invalid {
        border-bottom: 2px solid var(--bs-danger) !important;
        box-shadow: none !important;

        &:focus {
            border-bottom: 2px solid var(--bs-danger) !important;
            box-shadow: none !important;
        }
    }
}

body {

    &:not([data-bs-theme]) {

        @media screen and (prefers-color-scheme: dark) {
            .breadcrumb-item:not(.active) {
                a {
                    color: whitesmoke;
                }
            }

        }
    }

    &[data-bs-theme="dark"] {

        .breadcrumb-item:not(.active) {
            a {
                color: whitesmoke;
            }
        }
    }

    .breadcrumb-item::before {
        // margin-top: calc(0.25rem + 0.25vw);
    }
}

.breadcrumb-item {

    &.active {
        font-weight: 700;
    }

    &:not(.active) {
        a {
            color: var(--bs-black);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}

.btn.bg-transparent {
    color: var(--bs-black);

}

.text-orange {
    color: $orange;
}

.bg-orange-subtle {
    background-color: tint-color($orange, 80%);
}

[data-bs-theme="dark"] {
    .bg-orange-subtle {
        background-color: tint-color($orange, 40%);
    }

    .bg-orange-subtle {
        background-color: shade-color($orange, 80%);
    }
}


.callout {
    border-left-width: calc(1px + 0.25vw);
    border-left-style: solid;
    padding: calc(0.5rem + 1vw);

    .icon {
        width: calc(0.5rem + 1.5vw);
        height: auto;
        aspect-ratio: 1/1;
    }
}

.callout-primary {
    border-left-color: var(--bs-primary);
}

.callout-secondary {
    border-left-color: var(--bs-secondary);
}

.callout-success {
    border-left-color: var(--bs-success);
}

.callout-info {
    border-left-color: var(--bs-info);
}

.callout-warning {
    border-left-color: var(--bs-warning);
}

.callout-danger {
    border-left-color: var(--bs-danger);
    background-color: var(--bs-danger-subtle);
}


.input-group:has(input:-webkit-autofill, input:autofill) {
    div.icon {
        z-index: 10;
    }
}

// input:-webkit-autofill {
//     -webkit-box-shadow: 0 0 0 50px rgba(var(--bs-body-color-rgb), 0.5) inset;
//     /* Change the color to your own background color */
//     -webkit-text-fill-color: #333;
// }

// input:-webkit-autofill:focus {
//     -webkit-box-shadow: 0 0 0 50px white inset;
//     /*your box-shadow*/
//     -webkit-text-fill-color: #333;
// }