body:has(footer) {

    @include min-height(106);
    height: max-content;

    @media screen and (max-width: 576px) {
        @include min-height(120);
    }

    %dark-footer-scheme {
        background-color: var(--bs-body-bg-secondary);

        *>*,
        a.unstyled {
            color: whitesmoke;
        }
    }

    &:not([data-bs-theme]) {
        @media screen and (prefers-color-scheme: dark) {
            footer {
                background-color: var(--bs-body-bg-secondary);

                *>*,
                a.unstyled {
                    color: whitesmoke;
                }
            }

        }
    }

    &[data-bs-theme="dark"] footer {
        @extend %dark-footer-scheme;
    }
}

footer {

    position: relative;
    margin-top: auto;
    left: 0;
    bottom: 0;
    background-color: #fafcf7;
    width: 100%;
    @include max-width(100);
    z-index: -1;
    overflow: clip;

    .footer-info {
        padding-left: var(--main-container-px);
        padding-right: var(--main-container-px);

        .contact {}

        .phone-icon-container {
            width: clamp(1.5rem, 0.75rem + 1vw + 1.5vh, 3rem);
            height: auto;
            aspect-ratio: 1/1;

        }

    }
}

footer.external {}