%nav-link {
    &.active {
        background-color: white;
    }

    &:hover:not(.no-hover) {
        background-color: color-mix(in srgb, var(--bs-white) 75%, transparent);
        color: var(--bs-primary);
        font-weight: bolder;
        font-size: 0.98em;
    }

    padding: clamp(0.25rem, 0.1rem + 0.15vw + 0.2vh, 5rem) clamp(0.5rem, 0.25rem + 1.5vw + 1vh, 10rem);
    border-radius: 8px;

}
