[class*="-custom-scrollbar"],
[class*="-scrollbar"] {
    &::-webkit-scrollbar-track {
        background-color: inherit;
    }

    &::-webkit-scrollbar {
        background-color: inherit;
    }

    &::-webkit-scrollbar-track-piece {
        background-color: inherit;
    }

    &::-webkit-scrollbar-thumb {
        background-color: currentColor;
        border-radius: 1cqw;
    }

}

[class*="-custom-scrollbar"],
[class*="hidden"][class*="-scrollbar"] {
    &::-webkit-scrollbar-thumb {
        visibility: hidden;
    }

    &:hover,
    &:has(:focus-within) {
        &::-webkit-scrollbar-thumb {
            visibility: visible;
        }
    }
}

.thin-custom-scrollbar,
[class*="thin"][class*="-scrollbar"] {
    &::-webkit-scrollbar {
        width: calc(0.25rem + 0.3vw);
    }
}

[class*="-gray-scrollbar"] {
    &::-webkit-scrollbar {
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #F7F7F7;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #F7F7F7;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #E3E3E3;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #cecece;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.visible-gray-scrollbar {
    &::-webkit-scrollbar {
        width: calc(0.25rem + 0.3vw);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #F7F7F7;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #E3E3E3;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #cecece;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}
