@import 'font/font-size';

img.pri-sm-logo {
    width: clamp(3px, 0.875rem + 0.5vw + 0.75vh, 750px);
    height: auto;
}



header,
sidebar {

    &:has(nav) {
        z-index: 10;
    }

    .site-name {
        gap: 0 1rem;

        :has(>*>[class$="logo"]) {
            :has(>[class$="logo"]) {
                padding: clamp(.25rem, .1rem + .2vw + .3vh, 2rem) clamp(.25rem, .1rem + .15vw + .2vh, 2rem);
                transform: translateY(-5%);
                background-color: var(--main-white);
                border-radius: min(0.8cqw, 0.75rem);
            }
        }
    }


}

header {
    --v-offset: clamp(1rem, 0.5rem + 0.5vw + 0.75vh, 5rem);

    nav {
        padding: var(--v-offset) clamp(2rem, 1rem + 6vw, 10rem);
        color: var(--main-white);
    }
}

html {
    left: 0;


    main.main {
        padding-left: var(--main-container-px);
        padding-right: var(--main-container-px);
    }
}

input.rm-bg-icon {
    &.form-control {

        &.is-invalid,
        &.was-validated,
        &:invalid {
            background-image: none;
        }
    }
}

body {

    .invalid-feedback,
    .invalid-feedback:empty {
        display: block;
        min-height: 1.5em;
        margin-bottom: 0.5em;
    }
}