@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../utils';
@import '../../scales/icon-size';
@import '../../icon/lucide';
@import '../side-top-bar';
@import '../../palette/text-colors';
@import '../../palette/start-borders';
@import '../../footer';
@import '../../input/checkbox';

.scrollable-container {
    max-height: 88vh;
    overflow-y: auto; 
    overflow-x: hidden; 
    padding-right: 10px; 
}

.tab-section {
    display: none;
}

.tab-section.active-section {
    display: block;
}

.tab-section p {
    margin-bottom: 0 !important;
}


.checkbox-primary {
    @include custom-checkbox(var(--bs-black), var(--bs-primary));
}

.checkbox-label {
    padding-left: clamp(1.5rem, 1rem + 1.25vw, 5vw);
}


.visible-gray-scrollbar {
    &::-webkit-scrollbar {
        width: calc(0.25rem + 0.3vw); /* Width of the scrollbar */
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #F7F7F7; /* Color of the track (background) */
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #E3E3E3; /* Color of the thumb (the draggable part) */
        border-radius: 10px; /* Optional: rounded corners for the thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #cecece; /* Hover color for the thumb */
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent; /* Optional: background for the corner */
    }
}