@import '../../utils';
@import '../../scales/icon-size';
@import '../../icon/lucide';
@import '../side-top-bar';
@import '../../palette/text-colors';
@import '../../palette/start-borders';
@import '../../footer';
@import '../../input/checkbox';

.scrollable-container {
    max-height: 70vh; 
    overflow-y: auto; 
    overflow-x: hidden; 
    padding-right: 10px; 
}

.tab-section {
    display: none;
}

.tab-section.active-section {
    display: block;
}

.tab-section p {
    margin-bottom: 0 !important;
}


.checkbox-primary {
    @include custom-checkbox(var(--bs-black), var(--bs-primary));
}

.checkbox-label {
    padding-left: clamp(1.5rem, 1rem + 1.25vw, 5vw);
}
